email = youremail@email.com
always-auth = true
registry=https://bancoagromercantilgt.jfrog.io/artifactory/api/npm/0001-general-npm/
//bancoagromercantilgt.jfrog.io/artifactory/api/npm/0001-general-npm/:_authToken=cmVmdGtuOjAxOjE3Njc5NjcwNDg6aWdIc2s3Q2dNYmRnejJneWVrc1J6MG0xVVhX