// colors
$color-yellow-100       : #fef4bb;
$color-yellow-200       : #ebc500;
$color-yellow           : #fdda24;
$color-caribe-100       : #c1eef9;
$color-caribe-200       : #9be0f1;
$color-caribe-300       : #87d7eb;

// grey
$color-grey-white       : #ffffff;
$color-grey-100         : #f9f9fa;
$color-grey-150         : #f2f2f4;
$color-grey-200         : #e9ecef;
$color-grey-250         : #efeff0;
$color-grey-300         : #dee2e6;
$color-grey-350         : #d9dadd;
$color-grey-400         : #ced4da;
$color-grey-500         : #adb5bd;
$color-grey-525         : #97999b;
$color-grey-550         : #7d7f82;
$color-grey-600         : #6c757d;
$color-grey-650         : #595a5c;
$color-grey-700         : #495057;
$color-grey-800         : #343a40;
$color-grey-900         : #212529;
$color-grey-950         : #2c2a29;
$color-grey-black       : #1b1b1b;

// transparent
$color-tn-black         : #000000b3;

// shadow
$color-sd-yellow        : #85710080;
$color-sd-grey-500      : #ffffff80;
$color-sd-grey-black    : #0000001a;
