$breakpoint-s: 320px;
$breakpoint-xs: 360px;
$breakpoint-sm: 767px;
$breakpoint-lg-b: 992px;
$breakpoint-md: 1023px;
$breakpoint-xl: 1200px;
$breakpoint-lg: 1360px;
$breakpoint-1420px: 1420px;
$breakpoint-1720px: 1720px;

@mixin media-width($media) {
  @if $media == s {
    @media (max-width: $breakpoint-s) {
      @content;
    }
  } @else if $media == xs {
    @media (min-width: $breakpoint-xs) and (max-width: $breakpoint-sm) {
      @content;
    }
  } @else if $media == sm {
    @media (min-width: $breakpoint-sm) and (max-width: $breakpoint-md) {
      @content;
    }
  } @else if $media == md {
    @media (min-width: $breakpoint-md) and (max-width: $breakpoint-lg) {
      @content;
    }
  } @else if $media == lg {
    @media (min-width: $breakpoint-lg) {
      @content;
    }
  }
}

@mixin media-general($min-max-width-height, $breakpoint) {
  @media ($min-max-width-height: $breakpoint) {
    @content;
  }
}
