@import './colors.scss';

.scroll::-webkit-scrollbar {
    -webkit-appearance: none;
}
.scroll::-webkit-scrollbar:vertical {
    width: 6px;
}
.scroll::-webkit-scrollbar-button:increment,
.scroll::-webkit-scrollbar-button {
    display: none;
} 
.scroll::-webkit-scrollbar:horizontal {
    height: 10px;
}
.scroll::-webkit-scrollbar-thumb {
    background-color: $color-grey-500;
    border-radius: 20px;
}
.scroll::-webkit-scrollbar-thumb:hover {
    background-color: $color-grey-600;
    box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
}
.scroll::-webkit-scrollbar-track {
    background-color: $color-grey-200;
    border-radius: 10px;
}
